{% extends "base.html" %}

{% block title %}Welcome{% endblock title %}

{% block content %}
<h1>Welcome back to HTML ;)</h1>

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/portfolio">Portfolio</a>


<p>{{some_text}}</p>
<p>Current year: {{current_year}}</p>
{% for city in cities %}
    <p>{{city}}</p>
    {% if city == 'Salzbug': %}
        <p>{{city}} TEST</p>
    {% endif %}
{% endfor %}
<br>
{% if cities %}
<p>Das Array cities exisitiert.</p>

{% else %}
<p>Kein Array vorhanden.</p>
{% endif %}

{% endblock content %}

